<widget id="net.projectace.dropme" version="0.0.1">
        <name>DropME</name>
        <description>
            A sample Apache Cordova application that responds to the deviceready event.
        </description>
        <author email="alexander.db27@gmail.com" href="http://projectace.net">
            Apache Cordova Team
        </author>
        <content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="WebViewBounce" value="true" />
    </widget>